<div class="container">
  <div class="row no-gutters">
    <div class="col-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">新規投稿フォーム</h5>
      <div class="form-body p-4">
        <!--エラーメッセージ-->
        <%= form_with model: @post, url: sale_posts_path, local:true do |f| %>
        <%= f.attachment_field :post_image, class:"w-100" %>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-paste"></i></span>
          </div>
          <%= f.text_field :post_title,class:"form-control", placeholder:"タイトル" %>
        </div>
        <%= f.text_area :introduction,class:"form-control",rows:"3", placeholder:"説明" %>
        <hr>
        <%= f.submit '投稿', class:"btn btn-lg btn-block btn-success mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>