<div class="post-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <%= attachment_image_tag @post, :post_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <p class="card-title">
              <strong><i class="far fa-flag"></i><span> <%= @post.post_title %></span></strong>
          </p>
          <p class="card-title">説明：<%= @post.introduction %></p>
          <span><i class="fas fa-user"></i> By <%= @sale.name %> ｜ </span>
          <span><i class="fa fa-calendar"></i> <%= @post.created_at.strftime('%Y/%m/%d') %> ｜ </span>
          <span><i class="fa fa-comment"></i></span>
            <div id ="comment_count_area"><%= render 'sale/post_comments/comment_count', post: @post %></div> ｜
          <span><i class="fa fa-heart"></i> <%= @post.favorites.count %></span>
          <% if @post.sale == current_sale %>
            <span> ｜ </span><%= link_to "削除",sale_post_path(@post), class:"text-dark", method: :delete %>
          <% end %>
        </div>
      </div>
      <hr>
       <%= render 'sale/post_comments/index', post: @post, sale: @sale, post_customer: @post_customer %>
      <hr>
      <%= render 'sale/post_comments/form', post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
