<div class="container">
  <h2 class="page-header mt-4 mb-4">顧客一覧</h2>
  <table class="table table-hover orders-table">
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.name, sale_customer_path(customer) %></td>
        <td><%= link_to "チャット",sale_messages_path(customer) %></td>
        <td><%= link_to "カレンダー", sale_plans_path(customer) %></tb>
        <td><%= link_to "タイムライン", sale_customer_post_index_path(customer) %></tb>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>