<div class="container mt-3">
  <h3 class="content-title text-center p-4">カレンダー</h3>
  <div class="row">
    <div class="col-12">
      <!--simple calendarを使用する際は開始日時はstart_timeが基本のため、カスタマイズする際は下記を記載-->
      <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @plans) do |date, plans| %>
        <!--カレンダー内の日付-->
        <%= date.day %>
          <% plans.each do |plan| %>
          <div>
            <!--カレンダー内の予定　営業と顧客で色識別-->
            <% if plan.action == 1 %>
              <%= link_to plan.title, sale_plan_path(plan), class:'text-danger' %>
            <% else %>
              <%= link_to plan.title, sale_plan_path(plan), class:'text-info' %>
            <% end %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h4>スケジュール一覧</h4>
    <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th class="col1">タイトル</th>
            <th class="col1">開始日時</th>
            <th class="col1">終了日時</th>
            <th class="col1">投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% @plans.each do |plan| %>
            <tr>
              <td><%= link_to plan.title, sale_plan_path(plan) %></td>
              <td><%= plan.start_date.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><%= plan.end_date.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td>
                <% if plan.action == 1 %>
                  <%= plan.owner.name %>
                <% else %>
                  <%= plan.customer.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <div class="col-7 text-center mx-auto">
    <h5 class="text-dark content-title p-4 text-center">新規スケジュール作成</h5>
    <div class="form-body p-4">
      <%= form_with model: @plan, url: sale_customer_plans_path(@customer), local: true do |f| %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" aria-hidden="true">タイトル</span>
        </div>
        <%= f.text_field :title %>
      </div>
      <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
          <span class="input-group-text" aria-hidden="true">開始日時</span>
        </div>
        <%= f.datetime_select :start_date %>
      </div>
      <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
          <span class="input-group-text" aria-hidden="true">終了日時</span>
        </div>
        <%= f.datetime_select :end_date %>
      </div>
      <hr>
      <%= f.submit '新規作成', class:"btn btn-lg btn-block btn-success mt-4" %>
      <% end %>
    </div>
  </div>
</div>