<div class="container mt-3">
  <h3 class="text-center p-4">カレンダー</h3>
  <div class="row">
    <div class="col-5">
      <h5 class="text-dark p-4 bg-light text-center">新規スケジュール作成</h5>
      <div class="form-body p-4">
        <%= form_with model: @plan, url: sale_customer_plans_path(@customer), local: true do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">タイトル</span>
          </div>
          <%= f.text_field :title %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">開始日時</span>
          </div>
          <%= f.datetime_select :start_date %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">終了日時</span>
          </div>
          <%= f.datetime_select :end_date %>
        </div>
        <hr>
        <%= f.submit '新規作成', class:"btn btn-lg btn-block btn-success mt-4" %>
        <% end %>
      </div>
    </div>
    <div class="col-7">
      <%= month_calendar plans: @plans do |date, plans| %>
        <%= date.day %>
          <% plans.each do |plan| %>
          <div>
            <%= link_to plan.title, sale_plan_path(plan) %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h4>スケジュール一覧</h4>
    <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th class="col1">タイトル</th>
            <th class="col1">開始日時</th>
            <th class="col1">終了日時</th>
            <th class="col1">投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% @plans.each do |plan| %>
            <tr>
              <td><%= link_to plan.title, sale_plan_path(plan) %></td>
              <td><%= plan.start_date.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><%= plan.end_date.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><%= plan.owner.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>