<div class="container">
  <div class="row no-gutters">
    <div class="col-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark content-title p-4 mb-0">プロフィール編集</h5>
      <div class="form-body p-4">
        <%= form_with model:@profile, url: sale_profiles_path(@profile), local: true do |f| %>
        <%= f.attachment_field :profile_image, class:"w-100" %>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">名前　　　　</span>
          </div>
          <%= f.text_field :name,class:"form-control" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">出身地　　　</span>
          </div>
          <%= f.text_field :birthplace,class:"form-control" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">趣味　　　　</span>
          </div>
          <%= f.text_field :hobby,class:"form-control" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">最近の出来事</span>
          </div>
          <%= f.text_field :recent_event,class:"form-control" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">一言　　　　</span>
          </div>
          <%= f.text_field :a_word,class:"form-control" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">電話番号　　</span>
          </div>
          <%= f.text_field :phone_number,class:"form-control" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true">
              <%= link_to "メールアドレスとパスワードの変更はこちら", edit_sale_registration_path %>
            </span>
          </div>
        </div>
        <hr>
        <%= f.submit '更新', class:"btn btn-lg btn-block btn-success mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>










