<div class="container">
  <h2 class="page-header mt-4 mb-4">プロフィール</h2>
    <div class="row">
      <div class="profile-image">
        <%= attachment_image_tag @profile, :profile_image, :fill, 350, 350, fallback: "no-image.jpg", size:'350x350' %>
      </div>
      <div class="item-introduction ml-5">
        <table class="table">
          <div class="row">
            <p class="item">名前</p>
            <p class="item-li">：<%= @profile.name %></p>
          </div>
          <div class="row">
            <p class="item">出身地</p>
            <p class="item-li">：<%= @profile.birthplace %></p>
          </div>
          <div class="row">
            <p class="item">趣味</p>
            <p class="item-li">：<%= @profile.hobby %></p>
          </div>
           <div class="row">
            <p class="item">最近の出来事</p>
            <p class="item-li">：<%= @profile.recent_event %></p>
          </div>
           <div class="row">
            <p class="item">一言</p>
            <p class="item-li">：<%= @profile.a_word %></p>
          </div>
           <div class="row">
            <p class="item">電話番号</p>
            <p class="item-li">：<%= @profile.phone_number %></p>
          </div>
           <div class="row">
            <p class="item">メールアドレス</p>
            <p class="item-li">：<%= @sale.email %></p>
          </div>
          <%= link_to "編集する", edit_sale_profiles_path(@profile), class:'btn btn-success' %>
        </table>
      </div>
    </div>
</div>