<!DOCTYPE html>
<html>
  <head>
    <title>SalesMessage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div class="notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: key) %>
        <% end %>
      </div>
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
